/* styling my google web*/

body {
    background-color: white;
    font: black;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 0px 0px;
}

/* content */
.content {
    text-align: center;
    padding: 100px;    
}

.content img {
    padding: 20px;
}

.content .search-bar {
    border-radius: 15px;       
    border-top-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    box-shadow: 2px 2px 10px rgba(214, 214, 214, 0.5);    
}


.content a {
    text-decoration: none;
    padding: 5px 5px;
}


/* upper nav bar */
.upper_nav_bar input {
    background-color: blue;
    color: white;
}

.upper_nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;      
}

.upper_nav_bar li{
    display: inline;
    float: right;
}


.upper_nav_bar a {
    display: block;
    padding: 10px;
    color: rgb(0,0,0,0.87);
    background-color: white;
    text-decoration: none;
}


/* bottom nav bar */
.bottom_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    border: 1px solid  rgb(236, 234, 234);
    background-color: rgb(236, 234, 234);        
}


.bottom_nav li {
    display: inline;
}


.bottom_nav a {
    display: inline;
    padding: 10px;
    text-align: center;
    color: grey;
    background-color:  rgb(236, 234, 234);
    text-decoration: none;
}

